/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
 * Meta Box Styling
 */
.wpfaevent-speakers-select {
    width: 100%;
    min-height: 150px;
    padding: 4px;
}

/* Ensure proper spacing in meta boxes */
.wpfaevent-speakers-select option {
    padding: 2px 2px;
}